<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      SmartHouse
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
 <!-- <ion-row>
    <ion-col>
      Foco 1
    </ion-col>
    <ion-col>
       <!-- Default Toggle --
  <ion-toggle ></ion-toggle>
    </ion-col>
  </ion-row>

  <ion-row>


    <ion-col>
      Foco 2
    </ion-col>
    <ion-col>
       <!-- Default Toggle --
<ion-toggle></ion-toggle> 
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      Foco 3
    </ion-col>
    <ion-col>
       <!-- Default Toggle --
<ion-toggle></ion-toggle>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      Puerta 1
    </ion-col>
    <ion-col>
       <!-- Default Toggle --
<ion-toggle></ion-toggle>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      Puerta 2
    </ion-col>
    <ion-col>
       <!-- Default Toggle --
<ion-toggle></ion-toggle>
    </ion-col>
  </ion-row>

  <ion-content>
    <ion-list inset>
      <ion-item *ngFor="">
        <h2></h2>
      </ion-item>
    </ion-list>
  </ion-content>-->
  <button (click)="getAllFocos()">ObtenerTodos()</button>
  <button (click)="updateTask()">Actualizar()</button>

</ion-content>
